.bg{
    
    width: 100%;
    height: 100%;
    background-color: black;
    
}
/* src/Components/GridLayout.css */

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr; /* Two columns: 1 fraction and 2 fractions */
    gap: 0px; /* Space between the two parts */
    padding: 50px; /* Padding around the container */
  }
  
  .left-part {
    background-color:black;
    color: white; /* Light background color for the left part */
    padding: 60px; /* Padding inside the left part */
    
     /* Rounded corners */
  }
  .left-part h1{
    font-size: 40px;
    font-weight: 250;
    line-height: 120px;
  }
  .left-part p{
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
  }
  .left-part span{
    text-decoration: underline;
  }
  
  .right-part {
    background-color: black; /* Slightly darker background color for the right part */
    padding: 20px; /* Padding inside the right part */
     /* Rounded corners */
  }
  
  /* src/Components/GridLayout.css */

.sub {
    width: 100%;
    /* padding: 50px; */
    margin: 40px auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two equal columns */
    gap: 30px; /* Space between columns */
  }
  .column1 img:nth-child(1){
    width:100%;

  }
 
  
  .column1,
  .column2 {
    display: grid;
    gap: 30px; /* Space between images */
  }
  
  .column1 {
    grid-template-rows: repeat(3, 1fr); /* Three rows for three images */
  }
  
  .column2 {
    grid-template-rows: repeat(2, 2fr); /* Two rows for two images */
  }
  
  .column1 img, .column2 img {
    width: 100%; /* Ensure images fill the width of their container */
    height: auto; /* Maintain aspect ratio */
     /* Optional: rounded corners for images */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Stack columns vertically on smaller screens */
    }
  }
  

  